@import '../variables.less';

.choose-scale {
  margin-top: 20px;
  .scale-container {
    padding: 10px;
    display: inline-block;
    margin: 2px;
    background-color: @not-chosen;
    color: black;

    &:hover {
      background-color: @highlight;
    }
  }

  .scale-title {
    font-size: 2em;
  }
}
