/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.piece-list-container {
  position: relative;
  padding-top: 40px;
  ul {
    list-style-type: none;
  }
}
