@import '../variables.less';

.piece-list-container {
  padding-top: 40px;

  td, th {
    padding: 5px 20px;
  }

  th {
    background-color: black;
    color: white;
    font-weight: bold;
  }

  tr:nth-child(odd) {
    background: @lego-red-lighter;
  }

  td.bagged {
    text-decoration: line-through;
  }

  .simple-color-dark {
    color: white;
  }

  .simple-color-light {
    color: black;
  }
}
