@import '../variables.less';

@title-height: 50px;

.app-title {
  margin: 0;
  padding: 0 0 0 20px;
  width: 100%;
  background-color: @pale-lego-grey;
  color: @lego-blue;
  height: @title-height;
  line-height: @title-height;
}

.alpha {
  font-size: 0.5em;
}

.about-link {
  height: @title-height;
  line-height: @title-height;
  margin-right: 20px;

  a {
    color: @lego-blue;
    text-decoration: none;
    cursor: pointer;
  }
}

section {
  width: 100%;
  padding: 0 0 40px 20px;

  h2 {
    padding: 5px 0 20px 0;
  }
}

section.drag-section {
  background-color: @lego-blue;

  h2 {
    color: @lego-blue-lighter;
  }
}

.drag-header {
  color: @lego-blue-lighter;
}

.samples-container {
  margin-left: 30px;
}

section.choose-section {
  background-color: @lego-orange;

  .choose-section-container {
    transition: opacity 0.8s;
    opacity: 0.2;

    &.choosable {
      opacity: 1
    }
  }
}

section:last-of-type {
  border-bottom: 0
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1}
}

.results-container {
  background-color: @lego-red;
  animation: fade-in 1s;

  h2 {
    text-align: center;
    padding: 10px;
    background-color: @result-header;
    color: white;
    font-size: 1.3em;
    margin: 0 0 40px -20px;
  }

  .react-tabs [role=tab] {
    background-color: @not-chosen;

    &[aria-selected=true], &:hover {
      border-radius: 0;
      background-color: @highlight;
    }
  }
}

.preview-image {
  width: 60%;
  height: 60%;
}
