@import '../variables.less';

.choose-piece-type {
  .piece-type-container {
    padding: 4px;
    height: 120px;
    display: inline-block;
    margin: 2px;
    background-color: @not-chosen;
    color: black;
    float: left;
    position: relative;
    cursor: pointer;

    &.choosable:hover {
      background-color: @highlight;
    }
  }

  .piece-type-title {
    position: absolute;
    bottom: 10px;
  }
}
