/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.PieceMap {
  min-height: 450px;
  display: inline-block;
}

.disclaimer {
  padding: 10px;
  background-color: #F2A60C;
  font-weight: bold;
  margin: 10px 0;

  a {
    color: blue;
    cursor: pointer;
  }
}
