/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.piece-map {
  min-height: 450px;
  display: inline-block;

  .piece-map-options {
    padding: 20px;
  }
}

.toggle-button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: @not-chosen;
  color: black;
  cursor: pointer;

  &.toggled-on {
    background-color: @highlight;
  }
}
